{% extends '/base.html.twig' %}

{% block title %} Bestelling overzicht {% endblock %}

{% block content %}
    <h3 class="fw-bold text-light mt-5">Bestelling overzicht</h3>
    <div class="orderViewForm wrapper bg-light" style="height: 30rem">
        <div class="container py-5">
            <div class="row">
                <div class="col-6">
                    <p>
                        {{ form(form) }}
                    </p>
                </div>
                <div class="col-1"></div>
                <div class="col-5">
                    <div class="orderView">
                        <p class="">Bestelling:</p>
                        <p>{{ test.amount }} x {{ test.size}} {{ product.name }}</p>
                        <br>
                        <p class="">Totaal:</p>
                        <p>{{ test.amount }} {{ product.price }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}